<div ng-controller="CustomSoldierCtrl as rax">
  <div>
    <h3>Barracks - {{rax.getBarracksSize()}} soldier{{rax.getBarracksSize() == 1 ? "" : "s"}}</h3>
    <span class="text-danger" ng-show="rax.getBarracksSize() >= 75">WARNING: Large barracks counts may cause crashes on statup!</span>
    <hr>
  </div>

  <div>
    <h4>Bulk Soldiers</h4>
    <div class="row">
      <div class="col-xs-8">
      <table class="table" style="width: auto !important; table-layout: fixed">
        <thead>
        <tr>
          <th class="tdremove">&nbsp;</th>
          <th class="col-xs-2">Rank</th>
          <th class="col-xs-3">Number</th>
          <th class="col-xs-8">Country</th>
          <th class="col-xs-2">Gender</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="s in ini.bulkSoldiers">
          <td class="tdremove">
            <a href="" ng-click="rax.removeBulkSoldiers($index)">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
          </td>
          <td>{{getRankName(s.rank)}}</td>
          <td>{{s.count}}</td>
          <td>{{getCountryName(s.country)}}</td>
          <td>{{getGenderName(s.gender)}}</td>

        </tr>
        </tbody>
      </table>
      </div>
    </div>
    <form name="bulkForm" class="form form" novalidate ng-controller="BulkSoldierForm as bsf">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2">
          <div class="form-group">
            <label for="bulkRank"> Rank:</label>
            <select class="form-control" ng-model="bsf.soldier.rank" id="bulkRank"
                    ng-options="i.enum as i.name for i in Ranks">
            </select>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2">
          <div class="form-group">
            <label for="bulkCount">Count:</label>
            <input class="form-control" type="number" min="0" ng-model="bsf.soldier.count" id="bulkCount">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="form-group">
            <label for="bulkCountry">Country:</label>
            <select class="form-control" ng-model="bsf.soldier.country" id="bulkCountry"
                    ng-options="getCountryIndex(c) as c for c in Countries | orderBy:c"></select>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <label for="bulkGender">Gender:</label>
            <select class="form-control" ng-model="bsf.soldier.gender" id="bulkGender"
                    ng-options="i.enum as i.name for i in Genders">
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary form-control" style="width: auto"
                ng-click="bsf.addSoldiers()">

          <span class="glyphicon glyphicon-plus"></span>
          Add
        </button>
      </div>
    </form>
  </div>

  <hr>
  <h4>Individualized Soldiers</h4>
  <table class="table">
    <thead>
    <tr>
      <th class="col-xs-1"></th>
      <th class="col-xs-2">First Name</th>
      <th class="col-xs-2">Nick Name</th>
      <th class="col-xs-2">Last Name</th>
      <th class="col-xs-1">Rank</th>
      <th class="col-xs-1">Class</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="soldier in ini.soldiers">
      <td><a href="" ng-click="rax.delSoldier($index)"><span class="glyphicon glyphicon-remove"></span></a><span style="padding: 15px"></span>
      <a href="" ng-click="rax.editSoldier(soldier)"><span class="glyphicon glyphicon-pencil"></span></a></td>
      <td ng-class="{'text-muted': soldier.firstName == ''}">{{rax.printName(soldier.firstName)}}</td>
      <td ng-class="{'text-muted': soldier.nickName == ''}">{{rax.printName(soldier.nickName)}}</td>
      <td ng-class="{'text-muted': soldier.lastName == ''}">{{rax.printName(soldier.lastName)}}</td>
      <td>{{getRankName(soldier.rank)}}</td>
      <td>{{getClassName(soldier.class)}}</td>
    </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary form-control" style="width: auto"
          ng-click="rax.newSoldier()">

    <span class="glyphicon glyphicon-plus"></span>
    Add Soldier
  </button>
</div>
