<h3>Basic Setup</h3><br>

<div ng-controller="BasicCtrl as ctrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Start Date & Timing</h3>
    </div>
    <div class="panel-body">
      <form class="form form-horizontal">
        <div class="row">
          <div class="col-xs-6">
            <label class="control-label" for="startDate">Start Date:</label>
            <input class="form-control" type="date" ng-model="ini.startDate" placeholder="2016-03-01" id="startDate"/>
          </div>
          <div class="col-xs-6">
            <label class="control-label" for="slingshot_delay">Slingshot delay (days):</label>
            <input class="form-control" type="number" ng-model="ini.slingshotDelay" min="0" id="slingshot_delay"/>
          </div>
          <div class="col-xs-6">
            <label class="control-label" for="exalt_clues">Exalt clues recovered:</label>
            <input class="form-control" type="number" ng-model="ini.exaltClues" min="0" id="exalt_clues"/>
          </div>
          <div class="col-xs-6">
            <label class="control-label" for="alien_research">Alien Bonus Research:</label>
            <input class="form-control" type="number" ng-model="ini.alienResearch" id="alien_research"/>
          </div>
          <div class="col-xs-6">
            <label class="control-label" for="alien_resources">Alien Resources:</label>
            <input class="form-control" type="number" ng-model="ini.alienResources" min="0" max="300"
                   id="alien_resources"/>
          </div>
          <div class="col-xs-6">
            <label class="control-label" for="xcom_threat">XCOM Threat:</label>
            <input class="form-control" type="number" ng-model="ini.xcomThreat" min="0" max="5" id="xcom_threat"/>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Resources</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6">
          <label class="control-label" for="credits">Credits:</label>
          <input class="form-control" type="number" ng-model="ini.credits" id="credits" min="0"/>
        </div>
        <div class="col-xs-6">
          <label class="control-label" for="fragments">Fragments:</label>
          <input class="form-control" type="number" ng-model="ini.fragments" id="fragments" min="0"/>
        </div>
        <div class="col-xs-6">
          <label class="control-label" for="alloys">Alloys:</label>
          <input class="form-control" type="number" ng-model="ini.alloys" id="alloys" min="0"/>
        </div>
        <div class="col-xs-6">
          <label class="control-label" for="elerium">Elerium:</label>
          <input class="form-control" type="number" ng-model="ini.elerium" min="0" id="elerium"/>
        </div>
        <div class="col-xs-6">
          <label class="control-label" for="scientists">Scientists:</label>
          <input class="form-control" type="number" ng-model="ini.scientists" min="0" id="scientists"/>
        </div>
        <div class="col-xs-6">
          <label class="control-label" for="engineers">Engineers:</label>
          <input class="form-control" type="number" ng-model="ini.engineers" min="0" id="engineers"/>
        </div>
        <div class="col-xs-6">
          <label class="control-label" for="meld">Meld:</label>
          <input class="form-control" type="number" ng-model="ini.meld" min="0" id="meld"/>
        </div>
      </div>
    </div>
  </div>
</div>