<div class="btn-group" dropdown is-open="status.isopen">
<button type="button" class="btn btn-default" dropdown-toggle ng-style="{width: width}" ng-disabled="{{ngDisabled}}">
  {{render({enumVal: ngModel})}} <span class="caret"></span>
</button>
  <ul class="dropdown-menu" role="menu">
    <li role="menuitem"><a href="#" ng-click="selectItem('eFacility_None')">None</a></li>
    <li role="separator" class="divider"></li>
    <li role="menuitem" ng-repeat="f in tiles | orderBy:order" ><a href="#" ng-click="selectItem(f.enum)">{{f.name}}</a></li>
    <li role="separator" class="divider"></li>
    <li role="menuitem" ng-repeat="f in facilities | orderBy:order | filter:filter" ><a href="#" ng-click="selectItem(f.enum)">{{f.name}}</a></li>
  </ul>
</div>
