<h3>Facilities</h3>

<div ng-controller="FacilitiesCtrl as fac">

  <div class="row" ng-repeat="y in [0,1,2,3]">
    <facility-button
        ng-repeat="x in [0,1,2]"
        width="150px"
        ng-model="ini.facilities[y][x]"
        items="Facilities"
        render="getFacilityName(enumVal)"
        order="name"
        filter="{name :'!None'}">
    </facility-button>
    <button class="btn btn-default" ng-model="ini.facilities[y][3]" style="width: 6em"
            ng-click="fac.toggleLift(y)" ng-disabled="y == 0">{{fac.getLiftName(y)}}</button>
    <facility-button
        ng-repeat="x in [4,5,6]"
        width="150px"
        ng-model="ini.facilities[y][x]"
        items="Facilities"
        render="getFacilityName(enumVal)"
        order="name"
        filter="{name: '!None'}">
    </facility-button>
  </div>

  <div class="col-xs-8" >
    <span class="text-danger">Warning: Any facility placed in the JumpStart ini will overwrite facilities granted by
    a country bonus.</span>
  </div>
</div>