<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">{{title}}</h4>
  </div>
  <div class="panel-body">
    <ul class="col-xs-12">
      <li class="list-unstyled" ng-repeat="p in list">
        <a href="" ng-click="removeItem($index)">
          <span class="glyphicon glyphicon-remove"></span></a>
        {{render({e: p})}}
      </li>
    </ul>
    <div class="form-inline">
      <div class="form-group form-group-sm">
        <div class="col-xs-12">
          <select class="form-control" ng-model="currentItem" style="width: 180px"
              ng-options="p.enum as p.name for p in opts">
          </select>
            <button type="button" class="btn btn-default form-control"
                    ng-click="addItem(currentItem)" ng-disabled="isItemInvalid(currentItem)" style="width:auto">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
      </div>
      </div>
    </div>
  </div>
</div>