<h3>World</h3><br>

<div ng-controller="ItemCtrl as items">
  <table class="table">
    <thead>
    <tr>
      <th class="col-xs-1" style="width: 30px"></th>
      <th class="col-xs-10">Item</th>
      <th class="col-xs-1">Count</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="i in ini.items">
      <td >
        <a href="" ng-click="items.removeItem($index)">
          <span class="glyphicon glyphicon-remove"> </span></a></td>
      <td> <span> {{getItemName(i.enum)}}</span></td>
      <td class="col-xs-1">{{i.count}}</td>
    </tr>
    </tbody>
  </table>
  <form name="itemform" class="form form-inline" novalidate>
    <div class="form-group">
      <select class="form-control" ng-model="items.currentItem" style="width: 280px"
              ng-options="i.enum as i.name for i in Items | orderBy:'name' | filter:items.removePresent">
      </select>
    </div>
    <div class="form-group">
      <input type="number" ng-model="items.currentCount" class="form-control" style="width: 80px" min="1">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default form-control"
              ng-click="items.addItem()" ng-disabled="items.isItemInvalid()" style="width:auto">
        <span class="glyphicon glyphicon-plus"></span>
      </button>
    </div>
  </form>

</div>
